*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #0371a3;
}
body{
	background-color: #0371a3;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#0371a3; 
}

.center{
	width: 90%;
	background-color: #111a1f;

}
.container
{
	background-color: #111a1f;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #0371a3;
}
.navbar-brand{
font-size: 30px;	
}